.titre {
    font-weight: bold;
    color: #aaa;
    font-size: 2.2em;
    line-height: 1.2em;
    text-align: left;
}

.update {
    color: #a33;
    font-size: 0.7em;
    line-height: 1.2em;
    text-align: left;
}
